.slideSwitcherField {
    width: 500px;
    background-color: #efefef;
    /* height: 60px; */
    border-radius: 6px;
    display: flex;
    position: relative;
    padding: 5px 0;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.slideSwitcherBg {
    width: 49%;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    left: 5px;
    height: 90%;
    -webkit-box-shadow: 4px 4px 19px -10px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 4px 4px 19px -10px rgba(34, 60, 80, 0.6);
    box-shadow: 4px 4px 19px -10px rgba(34, 60, 80, 0.6);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.slideSwitcherOption {
    z-index: 3;
    padding: 17px 0;
    cursor: pointer;
    height: 100%;
}

.passwordInputBlock {
    border-bottom: 1px solid #d8d8d8;
    margin-top: 46px;
}
.emailInputBlock {
    border-bottom: 1px solid #d8d8d8;
    margin-top: 126px;
}
.checkboxInput {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
}

.signButton {
    padding: 16px 221px;
    text-transform: uppercase;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    display: block;
    margin-top: 69px;
}

.signButton:hover {
    background-color: #fff;
    color: #000;
}

@media (max-width: 575px) {
    .slideSwitcherField {
        width: 300px;
    }
    .signButton {
        padding: 6px 123px;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        margin: 10px 0;
    }
}
