.searchField {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d8d8d8;
    padding: 11px 0.5rem;
}

.searchInput {
    width: 100%;
    border: none;
    padding: 0;
    background-color: transparent;
}

.searchInput:focus {
    outline: none;
}

.searchInput::placeholder {
    font-size: 14px;
}

.sortOptions {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 39px;
}

.sortSelectField {
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    padding: 15px 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.sortSelectInput {
    width: 100%;
    padding: 0 0.5rem;
    border: none;
    background-color: transparent;
    outline: none;
    height: 100%;
    font-size: 14px;
    cursor: pointer;
}

.selectIco {
    position: absolute;
    right: 0.5rem;
    top: 60%;
    transform: translateY(-50%);
    pointer-events: none;
}

.priceRangeField {
    width: 100%;
    display: flex;
    margin-top: 44px;
}

.priceRangeSlider {
    width: 100%;
    height: 2px;
    background-color: #d8d8d8;
    position: relative;
}

.priceRangeThumb {
    width: 2px;
    height: 10px;
    background: #000;
    margin-top: -4px;
    cursor: pointer;
    outline: none;
}

.priceRangeControls {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.priceRangeVisual {
    color: #707070;
}

.priceRangeFilterButton {
    color: #a18a68;
    cursor: pointer;
}

.priceRangeFilterButton::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #a18a68;
    transition: all 0.3s ease-in-out;
    width: 0;
}

.priceRangeFilterButton:hover::after {
    width: 100%;
}

.switchTogglers {
    margin-top: 39px;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.switchToggleField {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switchToggleLabel {
    font-size: 16px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 20px;
    cursor: pointer;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    background-color: #707070;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.switch .switchToggleInput {
    display: none;
}

.slider::before {
    content: "";
    height: 16px;
    width: 16px;
    background-color: #fff;
    position: absolute;
    left: 2px;
    bottom: 2px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.switchToggleInput:checked + .slider {
    background-color: #a18a68;
}

.switchToggleInput:checked + .slider::before {
    transform: translateX(calc(100% - 3px));
}

.priceRangeTrack {
    height: 2px;
    width: 100%;
}

.sortSelectInput {
    color: #000;
}

.sortSelectInput > option {
    color: #000;
}
