.preLoader {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideWrapper {
    width: 100%;
    max-height: 650px;
    overflow: hidden;
    border-radius: 16px;
    margin-top: 50px;
    position: relative;
}

.slideImage {
    width: 100%;
    max-height: 650px;
    object-fit: cover;
}

.slideContent {
    position: absolute;
    width: fit-content;
    height: 100%;
    color: #fff;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}
.productsTitleGroup {
    margin-top: 64px;
    margin-bottom: -47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productsLink {
    color: #a18a68;
    font-size: 20px;
}

.productsWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 250px;
}

.productCard {
    display: flex;
    flex-direction: column;
    margin-top: 86px;
    max-width: 377px;
    width: 377px;
}

.slideTitle {
    font-size: 33px;
}

.slideDescription {
    font-size: 26px;
    margin-top: 16px;
}

.slideButtonWrapper {
    margin-top: 48px;
}

.slideButton {
    padding: 13px 29px;
    background-color: transparent;
    color: #fff;
    text-transform: capitalize;
    font-size: 21px;
    font-weight: 700;
    border: 2px solid #fff;
    border-radius: 6px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    cursor: pointer;
    display: block;
}

.slideButton:hover {
    color: #000;
    background-color: #fff;
}

.productImageWrapper {
    background-color: #fbf8f4;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.productImage {
    width: 100%;
    transition: transform 1s ease-in;
}

.productTitle {
    margin-top: 24px;
    font-size: 20px;
}

.productPrice {
    margin-top: 16px;
    font-size: 20px;
    color: #a18a68;
}

.interactiveOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interactiveOverlayIcons {
    display: flex;
    align-items: center;
    gap: 30px;
    opacity: 0.8;
}

.interactiveButtons:hover {
    animation: shake 1s;
    /* animation-iteration-count: infinite; */
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.productImageWrapper:hover .productImage {
    transform: scale(2.5);
}
.productImageWrapper:hover .interactiveOverlay {
    opacity: 1;
}

@media (max-width: 768px) {
    .productCard {
        width: 320px;
    }
}

@media (max-width: 690px) {
    .productCard {
        width: 280px;
    }
}

@media (max-width: 610px) {
    .productCard {
        width: 270px;
    }
}
@media (max-width: 575px) {
    .slideWrapper {
        height: 354px;
    }
    .slideImage {
        height: 354px;
    }

    .slideContent {
        margin-top: 15%;
    }
    .slideTitle {
        font-size: 20px;
    }

    .slideDescription {
        font-size: 12px;
    }

    .slideButtonWrapper {
        margin-top: 12px;
    }

    .slideButton {
        padding: 6px 10px;
        font-size: 12px;
        border: 1px solid #fff;
    }

    .productCard {
        width: 240px;
    }
    .productTitle {
        font-size: 14px;
    }
    .productPrice {
        font-size: 14px;
    }
    .productsLink {
        font-size: 16px;
    }
}

@media (max-width: 530px) {
    .productCard {
        width: 200px;
    }
}

@media (max-width: 440px) {
    .productCard {
        width: 180px;
    }
}

@media (max-width: 375px) {
    .productCard {
        width: 160px;
    }
}

@media (max-width: 320px) {
    .productCard {
        width: 136px;
    }
}
