.preLoader {
    height: 500px;
    max-width: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto auto;
    line-height: 130%;
    letter-spacing: 2px;
}

.ProductById {
    margin-top: 128px;
}

@media (max-width: 575px) {
    .ProductById {
        margin-top: 30px;
    }

    .seporator {
        width: 100%;
        height: 1px;
        background-color: #d8d8d8;
    }
}
