.shop {
    margin-top: 96px;
}

.settings {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    color: #a18a68;
    cursor: pointer;
    align-items: center;
    display: none;
}

.settingsIcon {
    transform: rotate(-90deg);
}
.wrapper {
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    gap: 36px;
    margin-top: 39px;
    padding-bottom: 250px;
}

.sideBar {
    min-width: 261px;
}

.products {
    width: 100%;
    display: flex;
}

.productsWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 70px;
    column-gap: 10px;
}

.productCard {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 377px;
}

.productImageWrapper {
    background-color: #fbf8f4;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.saleTag {
    position: absolute;
    top: 20px;
    left: 20px;
    width: fit-content;
    height: fit-content;
    z-index: 99;
    background: #a18a68;
    border-radius: 4px;
    padding: 5px;
    color: #fff;
}
.productImage {
    width: 100%;
    transition: transform 1s ease-in;
}

.productTitle {
    margin-top: 24px;
    font-size: 20px;
}

.productPrice {
    margin-top: 16px;
    font-size: 20px;
    color: #a18a68;
}

.productImageWrapper:hover .interactiveOverlay {
    opacity: 1;
}
.interactiveOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interactiveOverlayIcons {
    display: flex;
    align-items: center;
    gap: 30px;
    opacity: 0.8;
}

.preLoader {
    height: 500px;
    max-width: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto auto;
    line-height: 130%;
    letter-spacing: 2px;
}

.closeIcon {
    display: none;
}
@media (max-width: 1280px) {
    .productCard {
        max-width: 250px;
    }
}

@media (max-width: 1100px) {
    .sideBar {
        display: flex;
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 999;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease-in-out;
    }

    .filters {
        width: 280px;
    }
    .closeIcon {
        display: block;
        position: absolute;
        top: 5%;
        right: 5%;
    }

    .settings {
        display: flex;
    }

    .productsWrapper {
        justify-items: center;
    }
}

@media (max-width: 768px) {
    .productsWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 575px) {
    .productCard {
        width: 240px;
    }
    .productTitle {
        font-size: 14px;
    }
    .productPrice {
        font-size: 14px;
    }
    .productsLink {
        font-size: 16px;
    }
}

@media (max-width: 440px) {
    .productCard {
        width: 180px;
    }
}

@media (max-width: 375px) {
    .productCard {
        width: 160px;
    }
}

@media (max-width: 320px) {
    .productCard {
        width: 136px;
    }
}
