.Navbar {
    padding-top: 64px;
    padding-bottom: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logoGroup {
    position: relative;
    width: 100px;
}

.logo {
    width: 99px;
    height: auto;
}

.rightSide {
    display: flex;
    gap: 48px;
    align-items: center;
}

.linkGroup {
    display: flex;
    gap: 64px;
}

.link::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #000;
    display: block;
    transition: width 0.3s ease-in-out;
}

.link:hover::after {
    width: 100%;
}

.separator {
    height: 17px;
    width: 1px;
    background-color: #707070;
}
.cart {
    position: relative;
}
.cartCount {
    font-size: 8px;
    font-weight: 700;
    border-radius: 50%;
    color: #fff;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    padding: 2px;
    position: absolute;
    top: -5px;
    right: -5px;
}
.interactive {
    display: flex;
    gap: 39px;
}

svg {
    cursor: pointer;
}

.searchField {
    /* position: absolute;
    top: 105%; */
    display: none;
    align-items: center;
    background-color: #d8d8d8;
    border-radius: 8px;
    width: 100%;
    justify-content: flex-end;
    transition: 0.3s ease-in-out;
}

.searchInput {
    border: none;
    background-color: transparent;
    padding: 0.5rem 0.5rem;
    width: 100%;
}

.searchField > svg {
    padding-right: 0.5rem;
}

.searchInput:focus {
    outline: none;
}

.searchField:hover {
    background-color: #e1dfdf;
}

.burger {
    display: none;
}
.menu {
    position: fixed;
    background-color: #fff;
    width: 100vw;
    z-index: 999;
    left: 0;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myAcc {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.menuSeparator {
    height: 1px;
    background-color: #707070;
}
.content {
    margin-top: 30%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    /* transform: translateY(-30%); */
}

.cartWrapper {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    height: 100vh;
    width: 360px;
    border: 1px solid #d8d8d8;
    background-color: #fff;

    transition: 0.5s ease-in-out;
}

.cartContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 36px;
    height: 100%;
}

.cartHeader {
    width: 100%;
    margin-top: 72px;
}

.cartHeaderTitleGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cartTitle {
    font-size: 16px;
}

.cartClose {
    display: none;
    cursor: pointer;
}

.cartBody {
    display: flex;
    flex-direction: column;
    gap: 22px;
    overflow-y: scroll;
    max-height: 60%;
}

.totalQuantity {
    font-size: 12px;
    color: #707070;
    margin-top: 17px;
}

.cartItem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cartItemImageWrapper {
    background-color: #fbf8f4;
    width: 136px;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.cartItemImage {
    width: 136px;
}

.cartItemDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-self: center; */
    margin-left: 8px;
    width: 100%;
}

.cartItemTitle {
    font-size: 14px;
}

.cartItemPrice {
    color: #a18a68;
    font-size: 14px;
    margin-top: 5px;
}
.cartItemQuantity {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 12px;
    color: #707070;
}

.cartItemQuantity > button {
    display: flex;
    border: none;
    background-color: transparent;
}

.cartItemRemove {
    justify-self: end;
}

.cartTotal {
    display: flex;
    justify-content: space-between;
    margin: 21px 0;
}

.cartAddSign {
    position: absolute;
    top: 100%;
    background-color: #efefef;
    width: 100%;
    height: fit-content;
    padding: 24px 0;
    border-top: #a18a68 solid 2px;
    display: flex;
    display: none;
}

.cartAddSignContent {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 39px;
}

.cartButton {
    padding-bottom: 27px;
}
@media (max-width: 768px) {
    .burger {
        display: block;
    }
    .linkGroup {
        display: none;
    }
    .separator {
        display: none;
    }
    .searchBlock {
        display: none;
    }
    .signBlock {
        display: none;
    }
    .interactive {
        gap: 17px;
    }
}

@media (max-width: 575px) {
    .cartWrapper {
        width: 100%;
    }

    .cartClose {
        display: block;
    }

    .cartAddSign {
        justify-content: center;
    }
    .cartAddSignContent {
        font-size: 12px;
        margin-left: 0;
    }
}
